[submodule "samples/megadrum"]
	path = samples/megadrum
	url = git@github.com:antonioolf/MegaDrumX.git
[submodule "samples/instrument"]
	path = samples/instrument
	url = git@github.com:antonioolf/instrument-commons.git
[submodule "samples/percussao-virtual"]
	path = samples/percussao-virtual
	url = git@github.com:antonioolf/percussao-virtual.git
