[submodule "samples/instrument"]
	path = samples/instrument
	url = git@github.com:antonioolf/instrument-lib.git
[submodule "samples/percussao"]
	path = samples/percussao
	url = git@github.com:antonioolf/percussao-instrument.git
[submodule "samples/kit-2-supabase"]
	path = samples/kit-2-supabase
	url = git@github.com:antonioolf/kit-2-supabase.git
